.main{
	background-color: skyblue;
	padding:2%;
	display:flex;

}
.left{
	margin:2%;
	background:linear-gradient(white,pink);
	padding-left: 1%;
	padding-bottom: 1%;
	padding-top:1%;
	text-align: center;
	width:25%;height:30%;
	border-radius:3%;
	font-size:15px;
}
img{
	width:90%;
	height:45%;
}
.right{
	background:linear-gradient(to right,lightgreen,white);
	width:70%;
	padding:1%;
	border-radius: 3%;

}
li{
	font-weight:normal;
}

/*Mobile View*/
@media screen and (min-width: 320px) and (max-width: 580px) {
.main{
	background-color:;
	display:inline-block;
	justify-content: space-around;
	margin:2%;
	width:96%;
	padding:1%;
}
.left{
	background-color:skyblue;
	margin:2%;
	width:94%;
	height:80%;
	text-align: center;
	border-radius: 4%;
	box-shadow:2px 2px 2px 2px;

}

.right{ 
	background-color:#BEF520;
	border-radius:3%;
	padding:2%;
	margin:2%;
	width:94%;
	box-shadow:2px 2px 2px 2px;
}

img{
	height:30%;
	width:50%;
	margin-top: 9%;
}
}

/*Tablet view*/
@media screen and (min-width: 586px) and (max-width: 680px) {
.main{
	background-color:#F57120;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	margin:1%;
	width:100%;
}
.left{
	background-color:left;
	margin:1%;
	width:40%%;
	height:80%;
	text-align: center;
	border-radius: 4%;
	box-shadow:2px 2px 2px 2px;

}

.right{ 
	background-color: #8ACE5E;
	border-radius:3%;
	padding:2%;
	margin:1%;
	width:55%;
	box-shadow:2px 2px 2px 2px;
}

img{
	height:30%;
	width:50%;
	margin-top: 9%;
}
}
